* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

:root {
    --primary-background-color: #EC008C;
    --secondary-background-color: #83004C;
    --primary-text-color: #000;
    --secondary-text-color: #fff;
    --tertiary-text-color: rgb(255, 27, 114);
}

.primary-bg-color {
    background-color: var(--primary-background-color) !important;
}

.secondary-bg-color {
    background-color: var(--secondary-background-color) !important;
}


/* Header */
header {
    display: flex;
    /* display: none; */
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 32px;
    z-index: 1000;
}

header #menu-btn {
    display: flex;
    font-size: 32px;
    background-color: #fff;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header #menu-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

/* Hamburger menu*/

header #sub-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: right;
    line-height: 84px;
    z-index: 1000;
}

header #sub-menu.show {
    display: flex;
}

header #sub-menu-container {
    background-color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    animation: subMenuFadeIn ease 0.2s;
}

header #sub-menu-container .menu-list {
    list-style: none;
}

header .sub-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    right: 0;
    padding: 14px 0;
}

header .sub-menu-header .sub-menu-logo {
    height: 28px;
    padding-left: 16px;
}

header .sub-menu-header .sub-menu-closebtn {
    padding-right: 24px;
    font-size: 38px;
}

header .sub-menu-header .sub-menu-closebtn:hover {
    cursor: pointer;
    opacity: 0.6;
}

header #sub-menu-container li {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
    /* line-height: 56px; */
    font-size: 24px;
}

header #sub-menu-container .sub-menu-child:hover {
    cursor: pointer;
    background-color: #ccc;
}

header #sub-menu-container .sub-menu-icon {
    width: 36px;
    text-align: right;
}

header #sub-menu-container a {
    color: #000;
    display: block;
    text-decoration: none;
    padding: 0px 72px 0px 16px;
}

@keyframes subMenuFadeIn {
    from {
        transform: translateX(800px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes subMenuFadeOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateX(800px);
    }
}

#home {
    min-height: 100vh;
    /* background: linear-gradient(#364B88, #6675CB, #FA818A, #FFC18F, #FFE4CE); */
}

#home .home-bg {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#home .home-bg::before {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #24325b, transparent);
    z-index: 100;
}

#home .home-bg img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#home .home-bg #night_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #24325b;
    opacity: 1;
    bottom: 0;
    mix-blend-mode: hard-light;
    opacity: 0;
}

#home .home-bg #home_background {
    top: 0;
    height: 80%;
}

#home .home-bg #cloud {
    bottom: 0;
}

#home .home-bg #stars {
    opacity: 0.1;
}

#home .home-bg #left_far_rock {
    top: 0;
    right: 0;
}

#home .home-bg #right_far_rock {
    top: 0;
    left: 0;
}

#home .home-bg #light {
    mix-blend-mode: screen;
}

#home .home-sec {
    position: relative;
    padding: 100px;
    background-color: #24325b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home .home-sec .jsc_img {
    width: 50%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #BFBFBF;
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Safari */
    transform: rotate(-3deg);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

#home .jsc_img img {
    width: 100%;
}

#home .home-sec .home-sec-text {
    width: 43%;
}

#home .home-sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
    text-align: right;
}

#home .home-sec p {
    font-size: 1.5em;
    line-height: 1.5;
    color: #fff;
    text-align: right;
}

#history {

}

#department {

}

#jsc {
    
}

#jsc .jsc-img {
    background: url('/assets/img/japanese-temple.jpg') top center / cover no-repeat;
    padding-top: 56%;
    position: relative;
    z-index: -10;
}

#jsc .jsc-title .jsc-title-transparent {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: right;
    align-items: center;
    width: 35%;
    padding: 0 2%;
    font-size: 7vw;
    background-color: #fff;
    mix-blend-mode: screen;
    color: #000;
    opacity: 0.9;
}

#jsc .jsc-title .jsc-title-shadow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35%;
    padding: 0 20px;
    box-shadow: 0 0 16px #000,0 0 32px #000;
}

#jsc .jsc-desc {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: justify;
    justify-content: center;
    width: 62%;
    padding: 0 5%;
    font-size: 2.1vw;
    background-color: #fff;
    color: var(--tertiary-text-color);
    box-shadow: 0 0 16px #000,0 0 32px #000;
    opacity: 0.9;
    line-height: 1.4;
}

#jsc .jsc-desc.show {
    display: flex;
}

#activities {

}

#interview {
    height: 800px;
}

#interview .interview-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

#interview .interview-title h1 {
    color: var(--primary-text-color);
    font-size: 50px;
    text-transform: uppercase;
}

#interview .interview-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

#interview .interview-container {
    height: 100%;
    width: 25%;
    position: relative;
    z-index: -10;
}

#interview .interview-container .interview-back {
    height: 100%;
    width: 100%;
    z-index: -6;
}

#interview .interview-container .interview-img {
    position: absolute;
    z-index: 0;
    height: 50%;
    width: 80%;
    bottom: 30%;
    left: 10%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#interview .interview-container .interview-img1 {
    background: url('/assets/img/interview/interview1.jpg') center center / cover no-repeat;
}

#interview .interview-container .interview-img2 {
    background: url('/assets/img/interview/interview2.jpg') center center / cover no-repeat;
}

#interview .interview-container .interview-img3 {
    /* background: url('/assets/img/interview/interview3.jpg') center center / cover no-repeat; */
}

#interview .interview-container .interview-img4 {
    /* background: url('/assets/img/interview/interview4.jpg') center center / cover no-repeat; */
}

#interview .interview-container .interview-overlay {
    /* display: none; */
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
    z-index: 5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#interview .interview-container .interview-overlay::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 90%;
    top: -25%;
    left: 0;
    transform: skewY(-15deg);
    z-index: 1;
    box-shadow: 0px -5px 3px -3px rgba(0, 0, 0, 0.5);
}

#interview .interview-container .interview-overlay.secondary-bg-color::before {
    background-color: var(--secondary-background-color);
}

#interview .interview-container .interview-overlay.primary-bg-color::before {
    background-color: var(--primary-background-color);
}

#quiz {

}


footer {

}

#virus {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
}

.bug {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0;;
}

.bug img {
    width: 100%;
}