* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --theme-color: #24325b;
    --primary-background-color: #EC008C;
    --secondary-background-color: #83004C;
    --primary-text-color: #000;
    --secondary-text-color: #fff;
    --tertiary-text-color: rgb(255, 27, 114);

    --title-font: 'Roboto', sans-serif;
    --description-font: 'Montserrat', sans-serif;
}

.primary-bg-color {
    background-color: var(--primary-background-color) !important;
}

.secondary-bg-color {
    background-color: var(--secondary-background-color) !important;
}


/* Header */
header {
    display: flex;
    /* display: none; */
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 32px;
    z-index: 1000;
}

header #menu-btn {
    display: flex;
    font-size: 32px;
    background-color: #fff;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header #menu-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

/* Hamburger menu*/

header #sub-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: right;
    line-height: 84px;
    z-index: 1000;
}

header #sub-menu.show {
    display: flex;
}

header #sub-menu-container {
    background-color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    animation: subMenuFadeIn ease 0.2s;
}

header #sub-menu-container .menu-list {
    list-style: none;
}

header .sub-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    right: 0;
    padding: 14px 0;
}

header .sub-menu-header .sub-menu-logo {
    height: 28px;
    padding-left: 16px;
}

header .sub-menu-header .sub-menu-closebtn {
    padding-right: 24px;
    font-size: 38px;
}

header .sub-menu-header .sub-menu-closebtn:hover {
    cursor: pointer;
    opacity: 0.6;
}

header #sub-menu-container li {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
    /* line-height: 56px; */
    font-size: 24px;
    font-family: var(--description-font);
}

header #sub-menu-container .sub-menu-child:hover {
    cursor: pointer;
    background-color: #ccc;
}

header #sub-menu-container .sub-menu-icon {
    width: 36px;
    text-align: right;
}

header #sub-menu-container a {
    color: #000;
    display: block;
    text-decoration: none;
    padding: 0px 72px 0px 16px;
}

@keyframes subMenuFadeIn {
    from {
        transform: translateX(800px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes subMenuFadeOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(800px);
    }
}

#home {
    min-height: 100vh;
    /* background: linear-gradient(#364B88, #6675CB, #FA818A, #FFC18F, #FFE4CE); */
}

#home .home-bg {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#home .home-bg::before {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #24325b, transparent);
    z-index: 100;
}

#home .home-bg img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#home .home-bg #night_overlay,
#home .home-bg #virus_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #24325b;
    bottom: 0;
    mix-blend-mode: hard-light;
    opacity: 0;
}

#home .home-bg #home_background {
    top: 0;
    height: 80%;
}

#home .home-bg #cloud {
    bottom: 0;
}

#home .home-bg #stars {
    opacity: 0.1;
}

#home .home-bg #left_far_rock {
    top: 0;
    right: 0;
}

#home .home-bg #right_far_rock {
    top: 0;
    left: 0;
}

#home .home-bg #light {
    mix-blend-mode: screen;
}

#home .home-sec {
    position: relative;
    height: 700px;
    padding: 100px;
    background-color: var(--theme-color);
}

#home .home-sec-container {
    display: none;
    justify-content: space-between;
    align-items: center;
    animation: homeSecFloatIn ease 1s;
}

#home .home-sec .jsc_img {
    width: 50%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #BFBFBF;
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Safari */
    transform: rotate(-3deg);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

#home .jsc_img img {
    width: 100%;
}

#home .home-sec .home-sec-text {
    width: 43%;
}

#home .home-sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
    text-align: right;
    font-family: var(--title-font);
}

#home .home-sec p {
    font-size: 1.5em;
    line-height: 1.5;
    color: #fff;
    text-align: right;
    font-family: var(--description-font);
}

@keyframes homeSecFloatIn {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*----------------HISTORY------------------*/
#history {

}

#history .title {
    margin-top: 40px;
    font-size: 70px;
    font-weight: bold;
    font-family: var(--title-font);
}
/* Slideshow container */
.slideshow-container {
    /* max-width: 1000px; */
    max-width: 40%;
    position: relative;
    margin: auto;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
}
.img-style {
    width: 100%;
    object-fit: contain;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
/* Caption text */
.text {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 20px 20px;
    font-size: 24px;
    padding: 8px 12px;
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
    font-family: var(--description-font);
}
  
/* Number text (1/3 etc) */
.numbertext {
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-family: var(--description-font);
}
  
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
/*-------------DEPARTMENT-----------------*/
#department {
    /* grid-template-rows: auto auto auto auto auto; */
}
.department-title {
    margin-top: 40px;
    font-size: 70px;
    font-weight: bold;
    font-family: var(--title-font);
}

.department-desc {
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
    font-family: var(--description-font);
}
.department-img-list {
    margin: 20px -100px;
    border: 50px solid #000;
    margin-bottom: 0px;
}
.department-row1, .department-row2 {
    display: flex;
}

.department-row1::after, .department-row2::after {
    content:"";
    display: block;
    clear: both;
}

.department-column ul {
    height: fit-content;
    list-style-type: none;
}
.department-column ul li {
    padding-top: 10px;
    padding-right: 16px;
    padding-left: 16px;
}

.department-column {
    display: flex;
    
}

#department .content {
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    display: flex;
    
}

#department .header {
    font-weight: bold;
    align-items: center;
}
.col1 {
    display: flex;
    /* width: 33.3333%; */
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    /* border: 2px solid rgb(30 41 59); */
}

/* .col1::after {
    content:"";
    display: block;
    clear: both;
} */
.col2 {
    display: flex;
    float: left;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
    
}
.flex1, .flex3, .flex5, .flex11, .flex10 {
    width: 20%;
    background-color: #24325b;
    color: #fff;
    /* border-radius: 20px;   */
}

.flex2, .flex4, .flex6, .flex00, .flex01 {
    width: 20%;
    background-color: #fff;
    color: #24325b;
    /* border-radius: 20px; */
}

.flex1, .flex4 {
    order: 2;
}
.flex2, .flex5 {
    order: 3;
}
.flex3, .flex6 {
    order: 4;
}
.flex00, .flex10 {
    order: 1;
}
.flex01, .flex11 {
    order: 5;
}
.img-style {
    /* width: 100%; */
    object-fit: cover;
    object-position: center;
}


/*---------------------------------------*/

#jsc {
    
}

#jsc .jsc-img {
    background: url('/assets/img/JscBack.png') top center / cover no-repeat;
    padding-top: 56%;
    position: relative;
    z-index: -10;
}

#jsc .jsc-title .jsc-title-transparent {
    position: absolute;
    display: flex;
    top: 25%;
    bottom: 0;
    left: 0;
    text-align: center;
    align-items: center;
    width: 100%;
    height:50%;
    padding: 0 2%;
    font-size: 5vw;
    background-color: #fff;
    mix-blend-mode: screen;
    color: #000;
    opacity: 0.9;
}

#jsc .jsc-title .jsc-title-shadow {
    position: absolute;
    display: flex;
    top: 25%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 0 20px;

}

#jsc .jsc-desc {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: justify;
    justify-content: center;
    width: 100%;
    padding: 0 5%;
    font-size: 1.8vw;
    background-color: #fff;
    color: var(--tertiary-text-color);
    opacity: 0.9;
    line-height: 1.4;
}

#jsc .jsc-desc.show {
    display: flex;
}

#activities .activity-title{
    font-size: 70px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 64px;
}

.image-grid {
    --gap: 18px;
    --num-columns: 2;
    --row-height: 515px;

    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-columns), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

}

.image-grid .pictureLayer > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#activities .pictureLayer {
    position: relative;
    display: none;
}

#activities .image__img {
    display: block;
    z-index: 0;
}

#activities .transparent-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#activities .heading {
    font-family: var(--title-font);
	font-weight: bold;	
    font-size: 45px;
    text-align: center;
    margin: 3%;
    z-index: 10;
    
    
}

#activities .content {
    font-family: var(--describion-font);
	font-weight: 300;
    font-size: 25px;
    text-align: center;
    margin: 3%;
    z-index: 10;
}



/* animation */

.from-left {
-webkit-animation: from-left 1.2s ease-in-out;
}

@-webkit-keyframes from-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-70px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}

.from-right {
    -webkit-animation: from-right 1.2s ease-in-out;
    }
    
    @-webkit-keyframes from-right {
        0% {
            opacity: 0;
            -webkit-transform: translateX(70px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateX(0px);
        }
    }

    .from-top {
        -webkit-animation: from-top 1.2s ease-in-out;
        }
        
        @-webkit-keyframes from-top {
            0% {
                opacity: 0;
                -webkit-transform: translateY(50px);
            }
            100% {
                opacity: 1;
                -webkit-transform: translateY(0px);
            }
        }
/* interview */


#interview {
    height: 800px;
}

#interview .interview-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    position: relative;
}

#interview .interview-title h1 {
    color: var(--primary-text-color);
    font-size: 50px;
    text-transform: uppercase;
}

#interview .interview-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

#interview .interview-container {
    height: 100%;
    width: 25%;
    position: relative;
    z-index: -10;
}

#interview .interview-container .interview-back {
    height: 100%;
    width:   100%;
    z-index: -6;
}

#interview .interview-container .interview-img {
    position: absolute;
    z-index: 0;
    height: 50%;
    width: 80%;
    bottom: 30%;
    left: 10%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#interview .interview-container .interview-img1 {
    background: url('/assets/img/interview/interview1.jpg') center center / cover no-repeat;
}

#interview .interview-container .interview-img2 {
    background: url('/assets/img/interview/interview2.jpg') center center / cover no-repeat;
}

#interview .interview-container .interview-img3 {
    /* background: url('/assets/img/interview/interview3.jpg') center center / cover no-repeat; */
}

#interview .interview-container .interview-img4 {
    /* background: url('/assets/img/interview/interview4.jpg') center center / cover no-repeat; */
}

#interview .interview-container .hoverLayer {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 7;
}

#interview .interview-container .hoverLayer:hover {

}

#interview .interview-container .interview-overlay {
    /* display: none; */
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
    z-index: 5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#interview .interview-container .interview-overlay::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 90%;
    top: -25%;
    left: 0;
    transform: skewY(-15deg);
    z-index: 1;
    box-shadow: 0px -5px 3px -3px rgba(0, 0, 0, 0.5);
}

#interview .interview-container .interview-overlay.secondary-bg-color::before {
    background-color: var(--secondary-background-color);
}

#interview .interview-container .interview-overlay.primary-bg-color::before {
    background-color: var(--primary-background-color);
}

#quiz {

}


footer {

}

#virus .bug {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 999;
}

#virus .bug img {
    width: 100%;
}

footer {
    display: none;
    height: 150px;
    background-color: var(--theme-color);
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    z-index: 2500;
}

footer .footer_text {
    font-size: 24px;
    width: 25%;
    color: var(--secondary-text-color);
}

footer .footer_password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

footer .footer_password h2 {
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}

footer .footer_password .password_input {
    margin-bottom: 12px;
}

footer .footer_password input {
    padding: 6px 4px;
    font-weight: bold;
    text-align: center;
}

footer .footer_password button {
    padding: 6px 12px;
    font-weight: bold;
}

footer .footer_bug_img {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer .footer_bug_img img {
    height: 100%;
    width: 25%;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg);
}